@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.counterWrap{
  font-family: 'Open Sans', sans-serif;
  background:black;
  color:white;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  height:100%
}

.heading{
  font-size:2.4rem;
  text-align:center;
  margin:2.3rem;
}

.counterBtn{
  width:6rem;
  height:8rem;
  border-radius:50%;
  margin:0 1rem;
  background:var(--color-main);
  transition:all ease 100ms;
  transform:rotatex(52deg);
  cursor:pointer;
}
.counterBtn::before{
  content:"";
  position:absolute;
  transition:all ease 100ms;
  top:0;
  left:0;
  height:inherit;
  width:inherit;
  background:inherit;
  border-radius:inherit;
  box-shadow:0 1.4rem 0  var(--accent-color);
}
.counterBtn:active::before{
  box-shadow:0 1rem 0  var(--accent-color);
}
.counterBtn:active{
  transform: translateY(0.4rem) rotatex(52deg);
}
.btnHome{
position: absolute;
width: 5rem;
background: var(--background-higher);
padding: 0.3rem;
border-radius: 0.3rem;
text-align: center;
top: 1rem;
left: 1rem;
}
.green{
  --color-main:lime;
  --accent-color:green
}
.red{
  --color-main:red;
  --accent-color:maroon
}

.btnWrap{
  display:flex;
  justify-content:space-between;
}

.timer{
  font-size:10rem;
}

.instructions{
  display:flex;
  flex-direction:column;
  width:100%;
  text-align:center;
}

.heading2{
  font-size:2rem;
  margin:0;
}

.para{
  padding:0.3rem;
  font-size:1.3rem;
  line-height:2rem;
}