.main {
  position: relative;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  height: 100vh;
}

.headingP{
  font-size: 2rem;
  margin:0;
}
.mssg{
  color:red;
  margin-bottom:1rem;
}

.input{
  color:black;
  display: flex;
  padding: 0.5rem;
  height:3rem;
  width:var(--elementWidth);
  font-size:1.2rem;
  border-radius: 0.2rem;
  border:0.1rem solid rgb(50, 50, 50);
  resize:none;
  overflow: hidden;
  margin:0.5rem 0;
  transition: all 200ms ease;
}

.strongPassword{
  animation: border 0.5s ease-in-out  infinite forwards ;
}

.input:focus{
  border:0.1rem solid blue

}

.wrapper{
  display: flex;
  flex-direction: column-reverse;
}
.flex{
  display: flex;
}

.game{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  overflow-x: hidden;
  /* background-color: var(--background-higher); */
  
}

.sectionP{
  background-color: var(--background-default);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.secretV{
  display: block;
  height:20rem;
  width: 90%;
  margin: 0 auto;
border-radius:0.3rem;
}
.secretI{
  display: block;
  height:16rem;
  width: 90%;
  margin: 2rem auto;
  border-radius:0.3rem;
  cursor: pointer;
}

.submit{
  display: block;
  margin: 0 auto;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  text-align: center;
  height:2.5rem;
  width:5rem;
  background-color: rgb(0, 157, 255);
  color:white;
  cursor:pointer;

}

.game::-webkit-scrollbar{
  width: 0.7rem;
  background-color: rgb(159, 159, 159);
}

.game::-webkit-scrollbar-thumb{
  background-color: rgb(96, 96, 96);
}

@keyframes border {
  0%{
    border-color: red;
  }

  10%{
    border-color: rgb(255, 149, 0);
  }
  20%{
    border-color: rgb(255, 251, 0);
  }

  30%{
    border-color: rgb(149, 255, 0);
  }
  40%{
    border-color: rgb(4, 255, 0);
  }

  50%{
    border-color: yellow;
  }
  60%{
    border-color: rgb(0, 255, 191);
  }

  70%{
    border-color: rgb(0, 213, 255);
  }
  80%{
    border-color: rgb(55, 0, 255);
  }
  90%{
    border-color: rgb(238, 0, 255);
  }

  100%{
    border-color: rgb(255, 0, 144);
  }
}